<div class="mega-menu-block{% if link.links.size == 0 and block.settings.mega_image_1 == blank and block.settings.mega_image_2 == blank %} no--content{% endif %}" data-mega-menu-block-id="{{ block.id }}" {{ block.shopify_attributes }}>
  {% if link.links.size == 0 %}
    {% if block.settings.mega_image_1 == blank and block.settings.mega_image_2 == blank %}
      <p class="mega-menu--empty" {% unless request.design_mode %}style="visibility:hidden;"{% endunless %}>
        This megamenu doesn't currently have any content. Add content to the megamenu in the Shopify admin at: Online store > Menu.
      </p>
    {% endif %}
  {% endif %}

  {% if link.links.size > 0 %}
    <div class="mega-menu--links">
      {% for sub_link in link.links %}
        <li class="dropdown-submenu nav-link-animated--custom" aria-haspopup="true">
          <div class="inner">
            <p class="h4 mega-menu-link--title"><a class="animated-link--item" href="{{ sub_link.url }}">{{ sub_link.title | escape }}</a></p>
            <ul class="menu-link">
              {% for sub_sub_link in sub_link.links %}
                <li>
                  <a class="animated-link--item" href="{{ sub_sub_link.url }}">{{ sub_sub_link.title | escape }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </li>
      {% endfor %}
    </div>
  {% endif %}

  <div class="mega-menu--image-wrapper">
    {% if block.settings.mega_image_1 %}
      <div class="mega-menu-promo-card">
        <div class="mega-menu-promo">
          <a class="mega-menu-promo-wrapper nav-link-animated--custom" href="{{ block.settings.mega_image_link_1 }}">
            <div class="mega-menu-promo-image">
              <img src="{{ block.settings.mega_image_1 | img_url: '600x600' }}" alt="{{ block.settings.mega_image_header_1 }}">
            </div>
          </a>
          <div class="mega-menu-promo-text--wrapper">
            <span class="mega-menu-promo-text-content">
              <a class="h4 mega-menu-promo-title promo-text animated-link--item" href="{{ block.settings.mega_image_link_1 }}">{{ block.settings.mega_image_header_1 }}</a>
            </span>
            <span class="mega-menu-promo-text-content">
              <a class="h5 mega-menu-promo-subtitle promo-text" href="{{ block.settings.mega_image_link_1 }}">{{ block.settings.mega_image_subheader_1 }}</a>
            </span>
          </div>
        </div>
      </div>
    {% endif %}

    {% if block.settings.mega_image_2 %}
      <div class="mega-menu-promo-card">
        <div class="mega-menu-promo">
          <a class="mega-menu-promo-wrapper nav-link-animated--custom" href="{{ block.settings.mega_image_link_2 }}">
            <div class="mega-menu-promo-image">
              <img src="{{ block.settings.mega_image_2 | img_url: '600x600' }}" alt="{{ block.settings.mega_image_header_2 }}">
            </div>
          </a>
          <div class="mega-menu-promo-text--wrapper">
            <span class="mega-menu-promo-text-content">
              <a class="h4 mega-menu-promo-title promo-text animated-link--item" href="{{ block.settings.mega_image_link_2 }}">{{ block.settings.mega_image_header_2 }}</a>
            </span>
            <span class="mega-menu-promo-text-content">
              <a class="h5 mega-menu-promo-subtitle promo-text" href="{{ block.settings.mega_image_link_2 }}">{{ block.settings.mega_image_subheader_2 }}</a>
            </span>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</div>
