{% comment %}
Media for product page and featured product sections
Parameters:
* style: 'full_width' | 'left' | 'right' | 'bottom'
{% endcomment %}

{{ 'plyr.min.css' | asset_url | stylesheet_tag }}
{{ 'shopify-model-viewer-ui.min.css' | asset_url | stylesheet_tag }}

{% assign crop_setting = settings.product-grid %}
{% assign image_crop = nil %}
{% if crop_setting == "square" %}
    {% assign image_crop = "aspect-ratio--square" %}
{% elsif crop_setting == "tall" %}
    {% assign image_crop = "aspect-ratio--tall" %}
{% elsif crop_setting == "wide" %}
    {% assign image_crop = "aspect-ratio--wide" %}
{% endif %}

<div class="product-images-container">
  <div class="product-medias{% if style != 'full_width' %} product-medias__with-thumbnails product-medias__with-thumbnails--{{ style }}{% else %} product-medias__fullsize{% endif %}">
    <div class="product-medias__main">

      {% comment %}Full size medias will go here{% endcomment %}
      {% if product.media.size > 0 %}
        <div class="swiper">
          <div class="swiper-wrapper">
            {% for media in product.media %}
              <div class="swiper-slide">
                {% if media.media_type == 'image' %}
                  <img src="{{ media.preview_image.src }}" alt="{{ media.alt }}" class="product-image" />
                {% elsif media.media_type == 'video' or media.media_type == 'external_video' %}
                  <div class="plyr__video-embed">
                    <iframe src="{{ media.src }}" allow="autoplay" allowfullscreen></iframe>
                  </div>
                {% elsif media.media_type == 'model' %}
                  <model-viewer src="{{ media.src }}" alt="{{ media.alt }}" auto-rotate camera-controls ar></model-viewer>
                {% endif %}
              </div>
            {% endfor %}
          </div>
          <div class="swiper-pagination{% if product.media.size == 1 %} hidden{% endif %}"></div>
        </div>
      {% else %}
        {{ 'product-1' | placeholder_svg_tag: 'icon icon--placeholder' }}
      {% endif %}

      <noscript>
        {% comment %}Big image when JS is not there to show media{% endcomment %}
        {% if product.media.size > 0 %}
          <img src="{{ product.media[0].preview_image | image_url: width: 1000 }}" alt="{{ product.media[0].alt }}" loading="lazy" />
        {% else %}
          {{ 'product-1' | placeholder_svg_tag: 'icon icon--placeholder' }}
        {% endif %}
      </noscript>
    </div>

    {% if product.media.size > 1 %}

      <div
        v-show="!isMobile"
        class="product-medias__thumbnails"
      >
        {% for media in product.media %}

            {% comment %}
            If this media is assigned to any variant that is available, keep showing the thumbnail.
            EVERY variant with this media needs to be unavailable for it to be hidden.
            {% endcomment %}
            {% assign hideThumb = false %}
            {% assign mediaHasVariant = false %}

            {% if hide_out_of_stock_variants %}
              {% assign hideThumb = true %}
              {% for variant in product.variants %}
                {% if variant.featured_media.id == media.id %}
                  {% assign mediaHasVariant = true %}
                  {% if variant.available %}
                    {% assign hideThumb = false %}
                  {% endif %}
                {% endif %}
              {% endfor %}
            {% endif %}

            {% unless hideThumb and mediaHasVariant %}
              <a
                href="#"
                v-on:click="onMediaActivate"
                v-on:keydown="onMediaActivate"
                class="product-medias__thumbnail"
                data-media-id="{{ media.id }}"
                {%- assign found = false -%}
                {%- for variant in product.variants -%}
                  {%- if found == false and variant.featured_media.id == media.id -%}
                    data-variant-id="{{ variant.id }}"
                    {%- assign found = true -%}
                  {%- endif -%}
                {%- endfor -%}
              >
                {% if media.media_type == 'model' %}
                  <div class="product-medias__emblem">
                    {% comment %} {% render 'theme-icon' with icon: 'cube', iconSize: 20 %} {% endcomment %}
                  </div>
                {% elsif media.media_type == 'video' or media.media_type == 'external_video' %}
                  <div class="product-medias__emblem">
                    {% render 'theme-icon' with icon: 'play', iconSize: 20 %}
                  </div>
                {% endif %}

                {% capture props %}
                  data-image-id="{{ media.id }}"
                  data-max-width="{{ media.preview_image.width }}"
                {% endcapture %}
                {% capture styles %}max-width: {{ media.preview_image.width }}px;{% endcapture %}
                {% capture class %}
                  product-medias__thumbnail__image product-medias__thumbnail--{{ media.media_type }} fadeIn wow
                {% endcapture %}
                {% capture thumbalt %}
                  {% if media.media_type == 'video' or media.media_type == 'external_video' %}
                    {{ 'products.product.video_thumbnail_alt' | t: imageAlt: media.alt | escape }}
                  {% elsif media.media_type == 'model' %}
                    {{ 'products.product.model_thumbnail_alt' | t: imageAlt: media.alt | escape }}
                  {% else %}
                    {{ media.alt }}
                  {% endif %}
                {% endcapture %}
                {% render 'responsive-image' with media.preview_image, class: class, alt: thumbalt | escape, default_size: '300x', props: props, blur: false, styles: styles %}
              </a>
            {% endunless %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@vimeo/player@2.14.0/dist/player.min.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="https://cdn.plyr.io/3.6.12/plyr.polyfilled.js"></script>

<script>
document.addEventListener('DOMContentLoaded', function() {
  const swiperContainer = document.querySelector('.swiper');
  const swiper = new Swiper(swiperContainer, {
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    on: {
      slideChange: function () {
        playActiveVideo();
      },
    },
  });

  const playActiveVideo = () => {
    const activeSlide = document.querySelector('.swiper-slide-active');
    const iframe = activeSlide.querySelector('iframe');
    if (iframe) {
      const player = new Vimeo.Player(iframe);
      player.play();
    }
  };

  // Initialize Plyr for video elements
  const players = Plyr.setup('.plyr__video-embed');

  // Play video on the initial active slide
  playActiveVideo();
});
</script>
