<div class="right-drawer-vue">
  {% comment %} There's no route available for the predictive search api URL yet {% endcomment %}
  <wetheme-right-drawer
    search-url="/search/suggest.json"
    is-predictive="{{ settings.predictive_search_enabled }}"
    search-collections="{{ settings.predictive_search_collections }}"
    language-url="{{ localization.language.root_url }}"
  >
  </wetheme-right-drawer>
</div>
<script type="text/x-template" id="wetheme-right-drawer-template">
  <div>
    <transition name="drawer-right">
      <div :class="[type === 'shop-now' ? 'quick-view-drawer' : '']" class="drawer drawer--right drawer--cart" v-if="isOpen" ref="drawerRight">
        <div :class="[type === 'shop-now' || type === 'page' ? 'display-flex' : '', 'drawer__header', 'sitewide--title-wrapper']">
          <div class="drawer__close js-drawer-close">
            <button type="button" class="icon-fallback-text standalone-icon--wrapper" aria-label="{{ 'general.accessibility.dismiss.close' | t }}" ref="drawerClose" v-on:click="close">
              <span class="fallback-text">{{ 'general.accessibility.dismiss.close' | t }}</span>
              {% render 'theme-icon' with icon: 'close', iconSize: 20 %}
            </button>
          </div>
          <input ref="drawerFocus" tabindex="-1" aria-hidden="true" class="sr-only" />
          <div :class="[type === 'shop-now' || type === 'page' ? 'remove-margin' : '', 'drawer__title', 'h2', 'true']">
            <span v-if="type === 'cart'">{{ 'cart.general.title' | t }}</span>
            <span class="sr-only" v-if="type === 'shop-now'">{{ 'products.product.quick_shop' | t }}</span>
            <span class="sr-only" v-if="type === 'page'">{{ 'products.product.size_guide' | t }}</span>
            <span v-if="type === 'search'">{{ 'general.search.title' | t }}</span>
          </div>
          <div class="view-cart-link" style="margin-left: auto;">
            <a id="cart-link" aria-label="Cart" href="https://thefruitbox.co/cart?logged_in=true" class="s2kwpi1 _1fragemo1 _1fragemvo _1fragemvx s2kwpi2 _1fragemvg _1fragemvj">
              <span class="_1fragemqz _1fragem2d _1fragemn2 _1fragemmx a8x1wug _1fragem2i a8x1wup a8x1wul a8x1wuy">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" focusable="false" aria-hidden="true" class="a8x1wu10 _1fragem2i _1fragemqz _1fragemn2 _1fragemmx _1fragemq4"><path d="M2.675 10.037 3.072 4.2h7.856l.397 5.837A2.4 2.4 0 0 1 8.932 12.6H5.069a2.4 2.4 0 0 1-2.394-2.563"></path><path d="M4.9 3.5a2.1 2.1 0 1 1 4.2 0v1.4a2.1 2.1 0 0 1-4.2 0z"></path></svg>
              </span>
              <span class="view-cart-text">View Cart</span>
            </a>
          </div>
        </div>
        <div id="CartContainer" v-if="type === 'cart'">
          <form action="{{ routes.cart_url }}" method="post" novalidate class="cart ajaxcart" v-if="cart">
            <p class="empty-cart" v-if="cart.item_count === 0">{{ 'cart.general.empty' | t }}</p>
            </svg>
            </a>
          </div>
          <div class="grid__item small--one-whole medium--two-quarters large--two-quarters medium--display-table-cell">
            <p>
              <a v-bind:href="item.url" class="ajaxcart__product-name" v-text="item.product_title"></a>
              <span class="ajaxcart__product-meta" v-if="item.variant_title != 'Default Title'" v-text="item.variant_title"></span>
              <span class="ajaxcart__product-meta" v-if="item.selling_plan_allocation" v-text="item.selling_plan_allocation.selling_plan.name"></span>
              <span class="ajaxcart__product-meta" v-for="(item, key, index) in item.properties " :key="index">
                <template v-if="item && key.charAt(0) !== '_'">
                  <span v-html="key"></span>: <span v-html="item"></span>
                </template>
              </span>
              {% if settings.cart_vendor_enable %}
                <span class="ajaxcart__product-meta" v-text="item.vendor"></span>
              {% endif %}
            </p>
            <div class="text-center">
              <span v-if="item.compare_at_price > 0 && item.original_price < item.compare_at_price" class="hide line-item__compare-at-price" v-text="item.compare_at_price * item.quantity"></span>
              <span class="has--discount hide" v-text="item.original_price" v-if="item.compare_at_price > 0 && item.original_price < item.compare_at_price"></span>
              <span class="price-no--discount hide" v-text="item.original_price * item.quantity" v-if="!item.compare_at_price"></span>

              <span class="ajaxcart-item__price" v-money="item.original_price"></span>

              <s>
                <span class="ajaxcart-item__price-strikethrough price-line-through sale-price"
                  v-if="item.compare_at_price > 0 && item.original_price < item.compare_at_price"
                  v-money="item.compare_at_price"
                >
                </span>
              </s>

              <div class="unit-price" v-if="item.unit_price_measurement_price">
                (<span class="unit-price__price" v-money="item.unit_price_measurement_price"></span>
                <span> / </span>
                <span class="unit-price__ref-value" v-text="item.unit_price_measurement_value"></span>
                <span class="unit-price__ref-unit" v-text="item.unit_price_measurement_unit"></span>)
              </div>
            </div>
            <ul class="ajaxcart-item__discounts" aria-label="{{ 'customer.order.discount' | t }}">
              <li class="ajaxcart-item__discount" v-if="item.line_level_discount_allocations.amount > 0">
                <span class="hide auto-discount--price" v-text="item.line_level_discount_allocations.amount"></span>
                <span class="ajaxcart-item__discount_title" v-text="item.line_level_discount_allocations.title"></span>
                <span class="ajaxcart-item__discount_money">- <span v-money="item.line_level_discount_allocations.amount"></span></span>
              </li>
            </ul>
            <div class="grid--full text-center ajaxcart__quantity-wrapper">
              <div class="grid__item">
                <div class="ajaxcart__qty">
                  <button
                    type="button"
                    aria-label="{{ 'general.accessibility.quantity.decrease_quantity' | t }}"
                    class="ajaxcart__qty-adjust ajaxcart__qty--minus icon-fallback-text standalone-icon--wrapper"
                    v-on:click="setQuantity(index + 1, item.quantity - 1); setSubtotal();"
                    v-if="!isGiftwrapProduct(item)"
                  >
                    {% render 'theme-icon' with icon: 'minus', iconClasses: 'flex-full', iconAttributes: 'aria-hidden="true"' %}
                    <span class="fallback-text">&minus;</span>
                  </button>
                  <input
                    type="text"
                    name="updates[]"
                    class="ajaxcart__qty-num"
                    v-bind:value="item.quantity"
                    min="0"
                    aria-label="quantity"
                    pattern="[0-9]*"
                    v-on:change="setQuantity(index + 1, parseInt($event.target.value, 10)); setSubtotal();"
                    :disabled="isGiftwrapProduct(item)"
                  />
                  <button
                    type="button"
                    aria-label="{{ 'general.accessibility.quantity.increase_quantity' | t }}"
                    class="ajaxcart__qty-adjust ajaxcart__qty--plus icon-fallback-text standalone-icon--wrapper"
                    v-on:click="setQuantity(index + 1, item.quantity + 1); setSubtotal();"
                    v-if="!isGiftwrapProduct(item)"
                  >
                    {% render 'theme-icon' with icon: 'plus', iconClasses: 'flex-full', iconAttributes: 'aria-hidden="true"' %}
                    <span class="fallback-text">+</span>
                  </button>
                </div>
              </div>
            </div>
            <button
              type="button"
              class="ajaxcart__qty-remove text-link-animated"
              v-on:click="setQuantity(index + 1, 0); setSubtotal();"
              v-if="!isGiftwrapProduct(item)"
            >
              <span class="cart-drawer--remove-btn">{{ 'cart.general.remove' | t }}</span>
            </button>
          </div>
        </div>
      </div>
      </div>
      <div class="ajaxcart__footer-wrapper">
        {% if settings.giftwrap_gift_note %}
          <div class="ajax-cart--gift-note">
            <label for="CartGiftNote" class="ajaxcart__gift-note label-font">{{ 'products.general.giftwrap_note' | t }}</label>
            <textarea id="CartGiftNote" class="input-full" v-model="giftNote" :disabled="updatingGiftNote" placeholder="{{ 'products.general.giftwrap_note_placeholder' | t }}"></textarea>
          </div>
        {% endif %}
        {% if settings.cart_notes_enable %}
          <div class="ajax-cart--notes">
            <label class="ajaxcart__special_instructions label-font" for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
            <textarea name="note" class="input-full" id="CartSpecialInstructions">{{ note }}</textarea>
          </div>
        {% endif %}

        <div class="ajaxcart__footer">
          <div class="grid--full">
            <div class="grid__item ajaxcart__subtotal_header">
              <p>{{ 'cart.general.subtotal' | t }}</p>
            </div>
            <p class="hide cart__total" v-text="cart.total_price"></p>
            <div class="grid__item ajaxcart__subtotal">
              <p v-money="cart.total_price"></p>
            </div>
          </div>
          <div class="cart__shipping rte text-link-animated">
            <p class="text-center">{{ 'cart.general.taxes_and_shipping_at_checkout' | t }}</p>
          </div>

          <button type="submit" class="btn cart__checkout" name="checkout">
            {{ 'cart.general.checkout' | t }}
          </button>

          {% if additional_checkout_buttons and settings.enable-additional-checkout-buttons %}
            <div class="additional-checkout-buttons additional-checkout-buttons--vertical">
              {{ content_for_additional_checkout_buttons }}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </form>
</div>
</div>
</transition>
</div>
</script>
