<!-- /sections/customer-register.liquid -->

<div class="wrapper-padded">
  <div class="grid page-main--wrapper">
    <div class="grid__item large--one-third push--large--one-third text-center">
      <div class="sitewide--title-wrapper">
        <h1 class="page--title">{{ 'customer.register.title' | t }}</h1>
      </div>

      <div class="form-vertical">
        {% form 'create_customer' %}
          {{ form.errors | default_errors }}
          <label for="FirstName" class="hidden-label">{{ 'customer.register.first_name' | t }}</label>
          <input type="text" name="customer[first_name]" id="FirstName" class="input-full" placeholder="{{ 'customer.register.first_name' | t }}" autocapitalize="words" autofocus>

          <label for="LastName" class="hidden-label">{{ 'customer.register.last_name' | t }}</label>
          <input type="text" name="customer[last_name]" id="LastName" class="input-full" placeholder="{{ 'customer.register.last_name' | t }}" autocapitalize="words">

          <label for="Email" class="hidden-label">{{ 'customer.register.email' | t }}</label>
          <input type="email" name="customer[email]" id="Email" class="input-full" placeholder="{{ 'customer.register.email' | t }}" autocorrect="off" autocapitalize="off">

          <label for="CreatePassword" class="hidden-label">{{ 'customer.register.password' | t }}</label>
          <input type="password" name="customer[password]" id="CreatePassword" class="input-full" placeholder="{{ 'customer.register.password' | t }}">

          <p>
            <button type="submit" class="btn btn--full account-section--btn">Create Account</button>
          </p>
          <span class="register-cancel--wrapper nav-link-animated--custom"><a class="animated-link--item" href="{{ shop.url }}">Cancel</a></span>
        {% endform %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.customer-register.name",
  "settings": [

  ]
}
{% endschema %}

<script>
document.addEventListener('DOMContentLoaded', function () {
  const createCustomerForm = document.querySelector('form[action="/account"]');

  createCustomerForm.addEventListener('submit', function (event) {
    event.preventDefault(); // Prevent the default form submission

    const formData = new FormData(createCustomerForm);

    fetch('/account', {
      method: 'POST',
      body: formData,
    }).then(response => {
      if (response.redirected) {
        // Redirect to the newsletter signup page
        window.location.href = 'https://thefruitbox.co/pages/newsletter-signup';
      } else {
        response.json().then(data => {
          alert('Account creation failed: ' + (data.errors ? data.errors.join(', ') : 'Unknown error'));
        });
      }
    }).catch(error => {
      console.error('Error:', error);
      alert('An error occurred. Please try again.');
    });
  });
});
</script>
